@import 'variables';

.Header {
	margin-top: 40px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	
	&__name {
		font-size: 26px;
		font-weight: 500;
		letter-spacing: 2px;
		line-height: 22px;
		text-decoration: none !important;
	}
	&__nav {
		display: flex;
		flex-flow: row nowrap;
		margin-top: 7px;
		list-style: none;
		letter-spacing: 1.5px;
	}
	&__nav__item {
		margin-left:15px;
		font-size: 14px;
		text-decoration: none;
		color:black;
	}
	

	
}
