@import 'variables';

.Header {
	margin-top: 40px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	
	&__name {
		font-size: 26px;
		font-weight: 500;
		letter-spacing: 2px;
		line-height: 22px;
		text-decoration: none !important;
	}
	&__nav {
		display: flex;
		flex-flow: column nowrap;
		margin: 0px;
		list-style: none;
		padding: 0px;
		letter-spacing: 2px;
	}
	&__nav__item {
		margin-top: 5px;
		font-size: 15px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	.delay0{
		animation-delay: .8s;
	}

	
}
